/* Body style */
* {
	color:red;
	text-align: center;
}
body {
	background: black;
}

body img {
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

section img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* Header styles */
h1 {
	text-align: center;
}

/* Button style */
section button, section input{
  float: left;
  position: relative;
  left: 40%;
}

#button button, #button input, #GSbutton input, #GSbutton button, #WIN button, #Ebutton button {
	color: black;
	width: 10%;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  height: 58px;
  margin: 50px 0 0 50px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
/*  line-height: 58px;*/
  margin-left: auto;
  margin-right: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: normal !important;
  line-height: normal !important;

  /*Gradient*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/*#GSbutton input, #GSbutton button {
  margin:auto;
  display:block;
}*/

/* Counter style */
#countup p {
	color: green;
	display: inline-block;
}