/* Body style */
* {
	color:red;
	text-align: center;
}
body {
	background: black url(pictures/matrix.jpg) top left no-repeat;
	width: 95%;
	text-align: center;
}

section img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/* Header styles */
h3 {
	text-align: center;
}

/* Button style */
section button{
	color: black;
	float: left;
	position: relative;
	left: 45%;
}
/* Counter style */
footer {
	text-align: center;
	padding-top: 10px;

}
#counter p {
	margin-left: auto;
	margin-right: auto;
}
#countup p {
	display: inline-block;
}