/* Body style */
* {
	color:red;
	text-align: center;
}
body {
	background: black;
}

section img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/* Header styles */
h3 {
	text-align: center;
}

/* Button style */
section button{
	color: black;
	float: left;
	position: relative;
	left: 45%;
}
/* Counter style */
#countup p {
	color: green;
	display: inline-block;
}